       
<div class="container">
  <form [formGroup]="form" (submit)="postURL()">
      <h1 class="text-primary">URL SHORTNER</h1>
      <div class="row">      
          <div class="col-lg-6">
              <label for="" class="text-secondary"><b>Paste the URL to be Shortened</b></label>                          
              <input type="text" placeholder="Paste Your URL Here" class="form-control" formControlName="URL">

              
          </div> 
      </div>
      
     
      <div class="row">
          <div class="col-lg-6">
              <input type="submit" class="btn btn-primary" value="Submit">
          </div>
      </div>

      
  </form>
</div>

  <hr>
  
  <div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>       
            <th>Longurl</th>
            <th>Shorlurl</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let link of list">
            <td>{{link.long}}</td> 
            <td><a href="{{link.long}}">{{link.short}}</a></td>   
           
            
          </tr>
          
        </tbody>
      </table>
</div>
